*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.vs/example.slnx/FileContentIndex/e36ba9f2-b23a-41cd-9ff9-3580a8659480.vsidx
.vs/example.slnx/FileContentIndex/d42da246-5bb2-432c-9743-8bd278210ff3.vsidx
.vs/example.slnx/FileContentIndex/d2216db7-04c3-45f1-b5c1-8ec4a80fface.vsidx
.vs/example.slnx/FileContentIndex/8a871b40-fa93-41fb-b84a-421435f00ab5.vsidx
.vs/example.slnx/FileContentIndex/5314b1cb-90f0-4c49-843b-8c8356d3f3d1.vsidx
.vs/example.slnx/FileContentIndex/4ee7f838-72c0-49d7-a939-34717aadf4df.vsidx
